# python files
__pycache__
.envrc
.venv

# node stuff
client/static
node_modules
yarn-error.log
.cache

# cache files
.bc/*.html
main/db.sqlite3
.static
._staticfiles

# local settings
main/settings/local.py
