#alert {
  align-items: center;
  border-radius: 25px;
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);
  bottom: 5px;
  cursor: pointer;
  display: flex;
  overflow: hidden;
  padding: 5px;
  position: fixed;
  max-width: 100%;
  min-height: 46px;
  transform: translateZ(0);
  transition: 0.25s linear;
  width: 46px;
  z-index: 10000;
  &.full { width: 375px; }
  a, i, i:before { height: 36px; line-height: 36px; }
  &.success {
    border-color: #A5D6A7;
  }
  i {
    color: grey;
    text-align: center;
    width: 36px;
  }
  .message {
    color: black;
    line-height: 1.4;
    padding: 0 10px;
    width: 274px;
  }
  .ec {
    font-size: 26px;
  }
}