.w300 {
  margin: auto;
  max-width: 300px;
  width: 100%;
}

.hr {
  border-bottom: 1px solid rgba(0,0,0,0.14);
}

.mr, li > .em, li .fa-em { margin-right: 0.8rem }
.fa-em {
  font-size: 1.8em;
  height: 21px;
  vertical-align: top;
}
p > .em, p > .fa-em {
  margin: 0 0.4rem;
}
.mb { margin-bottom: 0.8rem }
.mt { margin-top: 0.8rem }
.ml { margin-left: 0.8rem }

.mx { margin-left: 0.8rem; margin-right: 0.8rem; }

.or {
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 300px;
  &:before,
  &:after {
    background-color: #aaa;
    content: '';
    height: 1px;
    position: absolute;
    top: 14px;
    width: 40%;
  }
  &:before { left: 0; }
  &:after { right: 0; }
}
