.w300 {
  margin: auto;
  max-width: 300px;
  width: 100%;
}

.hr {
  border-bottom: 1px solid rgba(0,0,0,0.14);
}

.mr, li > .em, li .fa-em { margin-right: 0.8rem }
.fa-em {
  font-size: 1.8em;
  height: 21px;
  vertical-align: top;
}
p > .em, p > .fa-em {
  margin: 0 0.4rem !important;
}
.mb { margin-bottom: 0.8rem !important }
.mt { margin-top: 0.8rem !important }
.ml { margin-left: 0.8rem !important }

.mx { margin-left: 0.8rem !important; margin-right: 0.8rem !important; }

@media only screen and (min-width: 720px) {
  .flow-text {
    font-size: 1.272rem !important;
  }
}