.MapScreen .map {
  border: 1px solid black;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.MapScreen .room {
  align-items: center;
  background: #f0f0f0;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  .name {
    display: none;
  }
  .ec {
    font-size: 1em;
  }
  .fa-ec {
    font-size: 1.5em;
    height: auto;
  }
  $w: 4px;
  &.stairs1, &.escalators1, &.escalators2 {
    background: repeating-linear-gradient(
      0,
      #444,
      #444 $w,
      #FFF $w,
      #FFF 2*$w
    );
  }
  &.stairs2 {
    background: repeating-linear-gradient(
      90deg,
      #444,
      #444 $w,
      #FFF $w,
      #FFF 2*$w
    );
  }
  &.stairs3 {
    background: repeating-linear-gradient(
      270deg,
      #444,
      #444 $w,
      #FFF $w,
      #FFF 2*$w
    );
  }
  &.landing {
    background: white;
    border-width: 1px 0 0;
  }
  &.stairs1 {
    border-top: 0;
  }
  &.stairs2 {
    border-left: 0;
  }
  &.stairs3 {
    border-right: 0;
  }
  &.restrooms {
    background: url(../static/restrooms.png) no-repeat center;
    background-size: 24px;
  }
  &.has-talk, &.drum {
    background: white;
    .name {
      display: block;
    }
    &.yes-vote {
      font-weight: bold;
    }
  }
}
