nav {
  flex-shrink: 0;
}

#nav-mobile {
  display: flex;
  justify-content: space-between;
  i { height: auto; }
  .fa { line-height: unset; }
  .auth a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @media (max-width: 400px) {
    a { padding: 0 5px; }
    .auth a { max-width: 100px; }
  }
}
