html, body, #root, #wrapper {
  overscroll-behavior-x:none;
  height: 100%;
  min-height: 100%;
}

.root-width {
  width: 100%;
  max-width: 400px;
}

#root {
  margin: 0 auto;
}

body {
  background: #e0e0e0;
}

#wrapper {
  background: #f8f8f8;
  width: 100%;
  &, & [role="group"] {
    display: flex;
    flex-direction: column;
  }
  [role="group"] {
    flex-grow: 1;
    overflow: auto;
  }
}

#router > * { padding-bottom: 50px; } /* ensure buffer for alert */

h1, h2, h3, h4, h5 {
  margin-top: 0;
  #login &, #help &, #signup & {
    margin-top: 2rem;
  }
}
