html, body, #root, #wrapper {
  overscroll-behavior-x:none;
  height: 100%;
  min-height: 100%;
}

$root-width: 400px;

#root {
  max-width: $root-width;
  margin: 0 auto;
  width: 100%;
}

body {
  background: #e0e0e0;
}

#wrapper {
  background: white;
  width: 100%;
  &, & [role="group"] {
    display: flex;
    flex-direction: column;
  }
  [role="group"] {
    flex-grow: 1;
    overflow: auto;
  }
}
