#schedule {
  .collection-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    i.trigger {
      display: block;
      height: 30px;
      min-width: 30px;
      width: 30px;
    }
  }
  @media (max-width: 400px) {
    width: 100%;
    .card-content { padding: 10px; }
  }
}

#schedule {
  .now-link, .past-link {
    background: #e0e0e0;
    color: inherit;
    text-align: center;
    display: block;
    margin-top: 3px;
    padding: 12px;
  }
}

#schedule .ec-star2 {
  background-position: center;
  background-size: 100%;
  cursor: pointer;
  filter: none;
  opacity: 1;
  transition: 0.3s;
  &.grayscale {
    background-size: 80%;
    filter: grayscale(1);
    opacity: 0.8;
    transition: 0s;
  }
}