& {
  height: 30px;
  position: relative;
}
&:last-child {
  height: auto;
}

h5 {
  font-size: 1.4rem;
  margin-top: 0;
}

.cardSlider {
  position: relative;
  transform: translateZ(0);
}

.card-action {
  bottom: 0;
  position: absolute;
  width: 100%;
  a { color: inherit; }
  &.grayscale a {
    cursor: default;
    filter: grayscale(1);
    opacity: 0.5;
  }
}

.card-wrapper{
  margin: 0 auto;
  position: relative;
  width: 90%;
  &:before {
    box-shadow: 0 0 5px 5px rgba(100,100,100,0.25);
    content: "";
    right: 3%;
    left: 3%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
}
&:first-child,
&last-child {
  .card-wrapper:before { display: none; }
}

&.index-0 .card-wrapper { width: 95% }
/*&.index-1 .card-wrapper { width: 94% }
&.index-2 .card-wrapper { width: 93% }
&.index-3 .card-wrapper { width: 92% }
&.index-4 .card-wrapper { width: 91% }*/

.card {
  border-radius: 4px;
  box-shadow: none;
  height: 250px;
  min-height: 250px;
  margin: 0;
  overflow: hidden;
  position: relative;
  z-index: 2;
  .card-content { padding: 20px 24px; }
}

&.inactive {
  color: gray;
}

&.active .card {
  height: auto;
  padding-bottom: 50px;
  .card-content { padding: 24px 24px 0; }
}

