html, body, #root {
  height: 100%;
}

#root > .container {
  max-width: 600px;
}

body {
  background: #e0e0e0;
  .sidenav.sidenav-fixed {
    transform: translateX(0%);
  }
  main { padding-bottom: 20px; }
}

#wrapper {
  background: white;
  min-height: 100%;
}

.w300 {
  max-width: 300px;
  margin: auto;
}

.w400 {
  max-width: 400px;
  margin: auto;
}

.rjsf fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.card-action a {
  cursor: pointer;
}

.hr {
  border-bottom: 1px solid rgba(0,0,0,0.14)
}

.mr, li > .em { margin-right: 0.8em }
p > .em {
  margin: 0 0.4em;
}
.mb { margin-bottom: 0.8em }
.mt { margin-top: 0.8em }
.ml { margin-left: 0.8em }