html, body, #root {
  height: 100%;
}

#root > .container {
  max-width: 600px;
}
body {
  background: #e0e0e0;
  .sidenav.sidenav-fixed {
    transform: translateX(0%);
  }
  main { padding-bottom: 20px; }
}

#wrapper {
  background: white;
  min-height: 100%;
}

.rjsf fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.card-action a {
  cursor: pointer;
}